* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-family: 'Jost', sans-serif;
}
/* Header Style Start */
.header-logo {
    width: 150px;
    height: auto;
}
.menu-list li a{
    color: #292929;
}
.ficons {
    margin-left: 10px;
    margin-right: 10px;
}
/* Header Style End */

/* Banner syle start */

.custom-bg {
    background-color: #F5F5F5;
}
.custom-padding {
    padding: 100px 0;
}
.banner-title {
    /* font-size: 3.3rem; */
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    color: #292929;
}
.banner-text {
    color: #7a7a7a;
    font-family: 'Heebo', sans-serif;
    padding-right: 120px;
}

.custom-btn {
    color: white;
    background-color: #292929;
    transition: 0.5s ease-in-out;
}
.custom-btn:hover {
    background-color: #fff;
}
/* Banner syle end */
/* Category style start */
.custom-container {
    margin-top: -45px;
}
.ccustom-short {
    color: #d1bc92;
    font-size: 14px;
    font-weight: 400;
}
.click-link {
    color: #292929;
    font-size: 12px;
}
.click-link:hover {
    color: #7a7a7a;
}
.ccustom-title {
    color: #292929;
    font-size: 18px;
    font-weight: 600;
}
.cate-img {
    width: ;
}
/* Category style end */

/* Products Style Start */
.before-after h2 {
    position:relative
}
.before-after h2:before {
    content: '';
    display: block;
    position: absolute;
    width: 38%;
    height: 1px;
    background-color: #29292930;
    left: 0%;
    top: 50%;
}
.before-after h2:after {
    content: '';
    display: block;
    position: absolute;
    width: 38%;
    height: 1px;
    background-color: #29292930;
    right: 0%;
    top: 50%;
}
.product-img img {
    transition: 0.5s;
}
.product-img img:hover {
    transform: scale(1.1);
}


.fa-star {
    color:#d1bc92 ;
}
.add-cart {
    color: #292929;
}
.add-cart:hover{
    color: #d1bc92;
}



/* Media Query Started */
/* For mobile devices */
@media  only screen and (min-width: 320px) and (max-width: 575px) {
    .mobile-col {
        text-align: center;
    }
    .mobile-col img {
        width: 70%;
        margin-top: 50px;
    }
    .banner-text {
        padding: 5px 30px;
    }
   
    .banner-media {
        text-align: center;
        padding-top: 20x;
    }
    .cate-img {
        width: 100px;
        height: 100px;
    }
    .custom-bg {
        text-align: center;
    }
    .before-after h2:before,
    .before-after h2:after {
        width: 30%;
    }
}
/* for tab dvices */
@media  only screen and (min-width: 575px) and (max-width: 767px) {
    .mobile-col {
        text-align: center;
    }
    .mobile-col img {
        width: 70%;
        margin-top: 50px;
    }
    .banner-text {
        padding: 5px 0;
    }
    .banner-media {
        text-align: center;
        padding-top: 20x;
    }
    .cate-img {
        width: 80px;
        height: 80px;
    }
    .custom-bg {
        text-align: center;
    }
    .before-after h2:before,
    .before-after h2:after {
        width: 30%;
    }
}

@media  only screen and (min-width: 768px) and (max-width: 991px) {
    .before-after h2:before,
    .before-after h2:after {
        width: 35%;
    }
}